@import url("https://use.typekit.net/ocs2ozm.css");

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Maharlika';
    src: url('../fonts/Maharlika-Regular.woff2') format('woff2'),
        url('../fonts/Maharlika-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Impact';
    src: url('../fonts/Impact.woff2') format('woff2'),
        url('../fonts/Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family:"degular";
    src:url("https://use.typekit.net/af/174e41/00000000000000007735c867/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/174e41/00000000000000007735c867/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/174e41/00000000000000007735c867/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular";
    src:url("https://use.typekit.net/af/f22e6a/00000000000000007735c869/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/f22e6a/00000000000000007735c869/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/f22e6a/00000000000000007735c869/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular";
    src:url("https://use.typekit.net/af/2fce28/00000000000000007735c872/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/2fce28/00000000000000007735c872/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/2fce28/00000000000000007735c872/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular";
    src:url("https://use.typekit.net/af/36a2f5/00000000000000007735c877/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/36a2f5/00000000000000007735c877/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/36a2f5/00000000000000007735c877/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular";
    src:url("https://use.typekit.net/af/29fa5e/00000000000000007735c87b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/29fa5e/00000000000000007735c87b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/29fa5e/00000000000000007735c87b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular-display";
    src:url("https://use.typekit.net/af/3e504d/00000000000000007735c85b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3e504d/00000000000000007735c85b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3e504d/00000000000000007735c85b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular-display";
    src:url("https://use.typekit.net/af/db0d0a/00000000000000007735c85f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/db0d0a/00000000000000007735c85f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/db0d0a/00000000000000007735c85f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular-display";
    src:url("https://use.typekit.net/af/90e1f3/00000000000000007735c870/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/90e1f3/00000000000000007735c870/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/90e1f3/00000000000000007735c870/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular-display";
    src:url("https://use.typekit.net/af/7444bf/00000000000000007735c873/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/7444bf/00000000000000007735c873/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/7444bf/00000000000000007735c873/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular-text";
    src:url("https://use.typekit.net/af/c66587/00000000000000007735c865/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c66587/00000000000000007735c865/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c66587/00000000000000007735c865/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular-text";
    src:url("https://use.typekit.net/af/794c97/00000000000000007735c868/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/794c97/00000000000000007735c868/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/794c97/00000000000000007735c868/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular-text";
    src:url("https://use.typekit.net/af/e8ed45/00000000000000007735c879/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e8ed45/00000000000000007735c879/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e8ed45/00000000000000007735c879/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
    }
    
    @font-face {
    font-family:"degular-text";
    src:url("https://use.typekit.net/af/3ff681/00000000000000007735c87a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/3ff681/00000000000000007735c87a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/3ff681/00000000000000007735c87a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
    }

:root {
    /* Font Family variable */
    --maharlika: 'Maharlika';
    --roc-grotesk : "roc-grotesk",sans-serif;
    --impact: 'Impact';
    --helvetica:'HelveticaNowDisplay';
    --degular: "degular";

    /* Color variable */
    --white: #ffffff;
    --black:#000000;
    --primary: #FA8700;
    --secondary:#212020;
    --gray:#707070;
    --graydark:#333333;
    --graymedium:#00000029;
    --graylight:#F2F2F2;
    --graylighten:#F6F6F6;

    /* transition */
    --transition: all 0.5s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--degular);
    font-size: 16px;
    line-height: 1;
    padding: 0;
    margin:0;
}
ul {
    padding: 0; margin: 0; list-style: none;
}
p {
    font-family: var(--degular);
    line-height: 1.75em;
    font-size: 1.125em;
}
img {
    max-width: 100%;
}
figure {
    padding: 0; margin: 0;
}
.align-center {
    align-items: center;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}


h1, h2 {
    font-family: var(--maharlika);
    font-size: 3.375em;
    font-weight: 500;
}
h3 {
    font-size: 2.813em;
    font-weight: 500;
    font-family: var(--maharlika);
    /* margin-bottom: 3.375rem; */
}

.mrgR15 {margin-right: 15px !important;}

.btn {
    text-align: center;
    margin:15px 0;
    display: inline-block;
    transition: var(--transition);
    text-transform:uppercase;
    color: var(--black);
    border:none;
    outline: none;
    border-radius: 0;
    line-height: 30px;
    height: 47px;
    padding: 10px 25px;
    font-weight: bold;
    min-width: 171px;
}
.btn-knowmore {
    background-color: #FA8700;
    color: var(--white);    
}
.btn-knowmore:hover {
    background-color: #e47d04;
}
.btn-share {
    background-color: var(--white);    
}
.btn-share:hover {
    background-color: var(--graylighten);
}

.white {color:var(--white)}
.black {color:var(--black)}
.common-bg-container .columns {margin-bottom: 50px;}

/* header */
header {
    box-shadow: 0 0px 6px #ddd;
    position: relative;
}
.header-top {
    background-color:var(--graylighten); 
    padding: 10px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-size: 0.875em;
}
.ht-right {
    display: flex;
    align-items: center;
}
.ht-right li {margin:0 20px;}
.ht-right li:first-child {margin-left: 0px;}
.ht-right li:last-child {margin-right: 0px;}
.logo-block {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.logo-block img:first-child {
    margin-right: 15px;
}
.skip-content a {
    transition:var(--transition);
}
.skip-content a:hover {
    color: var(--primary);
}
.switch-theme a {
    border:solid 1px var(--black);
    width: 20px; height: 25px;
    display: inline-block; 
    vertical-align: middle; 
    text-align: center;
    line-height: 24px;
}
.lang-select {border:none; background: none;}
.switch-theme a {
    background-color: var(--white);
    color:var(--black);
}
.switch-theme a.active {
    background-color: var(--black);
    color:var(--white);
}
.header-bottom {
    background-color: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu {
    display: none;
}

/* navigation */
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu li {
    margin:0 35px;
}
.nav-menu li a {
    font-weight: bold;
    transition: var(--transition);
    font-family: var(--helvetica);
}
.nav-menu li a:hover, 
.nav-menu li a.active {
   color: var(--primary);
}
.close-menu {
    display: none;
}


/* banner */
.wrap-banner {
    max-width: 1920px;
    margin: 0 auto;
    background:url(../images/timeline-bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 50px;

}
.timeline-list {
    min-width: 180px;
    
    /* position: absolute;
    left: 9%;
    top: 10%;
    width: 125px; */
}
.timeline-list li {
    position: relative;
}
.timeline-list li a {
    color: var(--white);
    display: inline-block;
    line-height:40px;
    transform: var(--transition);
    position: relative;
    font-size: 0.875em;
}
.timeline-list li a.active {
    font-weight: bold;
    text-decoration: none;
    color: var(--primary);
    font-size: 1.25em;
}
.timeline-list li ul li a.active  {
    font-weight: bold;
    text-decoration: none;
    color: var(--primary);
    font-size: 1.25em;
}
.timeline-list li ul li a.active:before {
    position: absolute;
    left: -10px;
    top: 50%;
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--primary);
    border-radius: 50%;
    transform: translate(-50%, -5px);
}

.timeline-list li ul {
    margin-left: 14px;
    list-style: none;
}


/* footer */
/* .investor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
} */


/* footer menu */
.footer-link {
    background-color: var(--graylight);
    padding: 18px 0;
}
.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-menu li {
    margin:0 35px;
}
.footer-menu li a {
    font-weight: bold;
    transition: var(--transition);
    font-family: var(--helvetica);
}
.footer-menu li a:hover, 
.footer-menu li a.active {
   color: var(--primary);
}
.copyright {
    background-color: var(--black);
    color: var(--white);
    padding: 18px 0;
    text-align: center;
}
.modal-header .btn {
    min-width: auto;
}

/* map */

.wrap-common {
    display: flex;
    padding: 50px;
}
.wrap-common .right {
    display: flex;
}

.wrap-common .timeline-list li a {
    color: var(--black);
}
.wrap-common .timeline-list li a.active {
    color: var(--primary);
    font-size: 1.25em;
}

.map-wrap {
    padding: 0 0 0 50px;
}
.map-wrap .timeline-list {
    padding-top: 50px;
}
.paper-content {    
    padding: 10% 5% 5% 10%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
}


/* background */

.bg_2500left {
    background: url(../images/map-page-bg.png); 
    background-size: 100%;
    padding: 25% 5% 5% 10%;
}
.early_vedoc_bg {
    background: url(../images/pages/early_vedicbg.jpg); 
    background-size: 100%;
}
.early_vedic_storybg {
    background: url(../images/pages/early_vedicbg.jpg); 
    background-size: 100%;
}
.later_vedoc_bg {
    background: url(../images/pages/later_vedicbg.jpg); 
    background-size: 100%;
}
.mahajanpadas_bg {
    background: url(../images/pages/bg_mahajanpadas.jpg); 
    background-size: 100%;
}
.mahajanpadas_bg_storybg {
    background: url(../images/pages/mahajanpadas_story_bg.jpg); 
    background-size: 100%;
}

.cholas_bg {
    background: url(../images/pages/cholas_bg.jpg); 
    background-size: 100%;
}
.cholas_storybg {
    background: url(../images/pages/cholas_storybg.jpg); 
    background-size: 100%;
}
.satavahanas_bg {
    background: url(../images/pages/satavahanas_bg.jpg); 
    background-size: 100%;
}
.satavahanas_storybg {
    background: url(../images/pages/satavahanas_storybg.jpg); 
    background-size: 100%;
}


.right .column {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.link-source {margin-left: 10px; text-decoration: underline;}
.block-2 {
    display: flex;
}
.block-2 > div {
    width: 50%;
}
.map-image {
    background-color: var(--white);
    height: 100%;
}

.valu-feedback {background-color: var(--white); padding: 10px 20px; margin-top: 125px; display: flex; align-items: center; font-weight: bold;}
.valu-feedback span { 
    background-color:var(--graylight); 
    width: 44px; 
    height: 44px;
    min-width: 44px;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 58px;
}
.valu-feedback span i {
    font-size: 1em;
}
.inside-block {
    position: relative;
}

.first-block {
    background: url(../images/paper-bg1.png); 
    background-size: 100%;
    padding: 5% 7% 5% 15%;
    position: relative;
    margin-top: 20px;
}
.first-block .content-block {
    padding-top: 80px;
}
.goback {
    position: absolute;
    right: 30px;
    top: -8px;
}
.goback img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.second-block {
    background: url(../images/paper-bg2.png); 
    background-size: 100%;
    padding: 8% 7% 2% 15%;
    position: relative;
    margin-top: -50px;
}

.third-block {
    background: url(../images/paper-bg3.png); 
    background-size: 100%;
    padding: 8% 7% 9% 15%;
    position: relative;
    margin-top: -37px;
}
.home-timeline {
    text-align: left;
}
.home-banner-text {
    padding-left: 175px;
}
/* .home-banner-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    width: 52%;
} */
.home-banner-text h1 {
    font-family: var(--impact);
    color: var(--white);
    text-align: left;
    font-size: 6.25em;
    line-height: 112px;
}
.promo-block {
    display: flex;
    align-items: center;
}
.investor {
    overflow: hidden;
}
.wrapshareblock {
    position: relative;
    display: inline-block;
}

.wrap-share {
    background-color: var(--white);
    padding: 10px;
    max-width: 94px;
    position: absolute;
    right: -105px;
    top: 15px;
    display: none;
}
.wrap-share ul li:first-child {
    margin-top: 0px;
}
.wrap-share ul li a {
    font-size: 0.625em;
    color: var(--black);
}
.wrap-share ul li a span {
    width: 14px;
    min-width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}


/* Modal Css */
.modal {
    align-items: center;
    bottom: 0;
    display: none;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: .4rem;
    position: fixed;
    right: 0;
    top: 0;
  }
  
  .modal:target,
  .modal.active {
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    z-index: 400;
  }
  
  .modal:target .modal-overlay,
  .modal.active .modal-overlay {
    background: rgba(24, 24, 24, .80);
    bottom: 0;
    cursor: default;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .modal:target .modal-container,
  .modal.active .modal-container {
    animation: slide-down .2s ease 1;
    z-index: 1;
  }
  
  .modal.modal-sm .modal-container {
    max-width: 320px;
    padding: 0 .4rem;
  }
  
  .modal.modal-lg .modal-overlay {
    /*background: #fff;*/
  }
  
  .modal.modal-lg .modal-container {
    /*box-shadow: none;*/
    max-width: 960px;
  }
  .modal.modal-xl .modal-container {
    /*box-shadow: none;*/
    max-width: 1200px;
  }
  
  .modal-container {
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0 .2rem .5rem rgba(48, 55, 66, .3);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 75vh;
    max-width: 640px;
    padding: 0 .8rem;
    width: 100%;
  }
  
  .modal-container.modal-fullheight {
    max-height: 100vh;
  }
  
  .modal-container .modal-header {
    color: #303742;
    padding: .8rem;
  }
  
  .modal-container .modal-body {
    overflow-y: auto;
    padding: .8rem;
    position: relative;
  }
  
  .modal-container .modal-footer {
    padding: .8rem;
    text-align: right;
  }

  #artistModal .modal-container {
    background-image: url(../images/source-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #eaeaea;
    max-width: 80%;
    width: auto;
  }
  #artistModal h2 {
      margin-bottom: 10px;
  }
  #artistModal .modal-content .columns{
    align-items: flex-end;
  }
  #artistModal .modal-content img{
    max-width: 48%;
  }
  #artistModal .modal-content span {
      color: #299BFF;
      text-decoration: underline;
  }
  



  /* timeline other pages */
  .flex-box {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;
  }

  .common-bg-container {
    align-items: center;
    padding: 50px 100px;
    position: relative;
    width: 100%;
  }

  .report-bg-1944 {
    background:url(../images/report-bg.png);
    background-size: cover;
  }

  .report-bg-1945 {
    /* background:url(../images/report-bg.png); */
    background-size: cover;
    background-color: #000000;
  }

  .common-bg-container .goback {
    position: relative;
    right: 0;
    top: 0;
    text-align: right;
  }

.r-image {
    margin-top: 50px;
}
.r-image figcaption {margin-top: 30px; text-align: center; color: var(--white); font-size: 1.688rem;}




.report-content h2 {
    font-family: var(--degular); font-weight: bold;
}

.report-list {
      margin-left: 15px; margin-bottom: 20px; list-style: auto;
  }
.report-list li {
     line-height: 20px;
}

.para-content {
    margin-bottom: 60px;
}
.para-content h4 {
    font-size: 24px;
    font-family: var(--maharlika);
}
.para-content p {font-size: 14px; font-family: var(--degular);}
.year-title {
    font-size: 3.688rem; color: white; margin-bottom: 20px; margin-top: 100px;
}
.year-top-title {
    font-weight: bold; font-family: var(--degular);
}




/* timeline css */
.timeline-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
}
.timeline-track li {
    position: relative;
}
.wrapper-timeline {
    padding: 50px;
    position: relative;
}
.wrapper-timeline::before {
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--gray);
    content: "";
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
}

.time-item-top {
    position: relative;
    left: 0;
    top: 0px;
}

.time-item-top .time-image {
    bottom: 0;
    transform: translate(0px, -80%);
}

.time-year {
    font-family: var(--maharlika);
    font-size: 24px;
    position: absolute;
    left: 0px;
    bottom: 20px;
    padding: 7px 15px;
    background-color: #E3E1E2;
    transform: translate(50%, 100%);
    white-space: nowrap;
}
.time-year::before {
    position: absolute;
    width: 1px;
    height: 200px;
    content: "";
    left: 50%;
    bottom: -150px;
    transform: translate(0, -100%);
    border-left:dashed 2px var(--primary)
}
 .time-image {
   position: absolute;
    left: 0;
    display: block;
    width: 205px;
}
.time-text {
    position: absolute;
    left: 98px;
    bottom: 100px;
    width: 215px;
    z-index: 3;
}
.time-text h4 {
    font-family: var(--maharlika);
    font-size: 1.125rem;
    margin-bottom: 5px;
}
.time-text-desc {
    font-size: 14px;
    font-style: italic;
    word-wrap: break-word;
}

.time-item-bottom {
    position: relative;
    left: 150px;
    top: 0;
}

.time-item-bottom .time-image {
    top: 0;
    transform: translate(0px, 80%);
}
.time-item-bottom .time-year::before {
    top: -150px;
    transform: translate(0, 100%);
}

.time-item-bottom .time-text {
    top: 240px;
    left: -208px;
}

.time-three {
    left:350px;
}
.time-four {
    left:550px;
}
.time-five {
    left:900px;
}
.time-six {
    left: 660px;
}
.time-seven {
    left: 1010px;
}
.time-eight {
    left: 1275px;
}

.timeyear-orange {
    font-size: 45px;
    color: var(--primary);
    bottom: 35px;
}
.time-three .time-image {
    width: 156px;
    transform: translate(0px, 175%);
}

.time-three .time-text {
    transform: rotate(-90deg);
    width: 248px;
    top: 160px;
    left: -75px;
}

.time-three .time-year::before {
    top: -350px;
    transform: translate(0, 100%);
    height: 400px;
}

.time-four .time-text {
    transform: rotate(-90deg);
    width: 234px;
    top: -300px;
    left: -15px;
}
.time-four .time-year::before {
    top: 0px;
    transform: translate(0, -100%);
    height: 350px;
}
.time-four .time-image {
    transform: translate(80px, -80%);
}

.time-five .time-text {
    bottom: 85px;
}
.time-six .time-text {
    top: 290px;
    left: 0px;
}
.time-seven .time-text {
    top: 285px;
    left: -30px;
}
.time-six .time-image {
    transform: translate(75px, 80%);
}

.time-eight .time-text {
    top: 333px;
    left: -30px;
}

/* 
.reveal{
    position: relative;
    transform: translateY(-150px) translateX(150px) rotate(20deg);
    opacity: 0;
    transition: 1s all ease;
    opacity: 0;
    transition: transform 2s cubic-bezier(0,.55,.45,1) 0ms,opacity 2s ease-out 0ms;
  }
  
  .reveal.active{
    opacity: 1;
    transform: translateY(0px);
  } */

  .bottom-content {
      position: relative;
      padding:10px 10% 30px 10%;
      border-top: solid 1px #7E7E7E;
      font-size: 10px;
  }
